{% extends 'layout_empty.html.twig' %}

{% block title %}{% trans %}Profil{% endtrans %}{% endblock %}

{% block content %}
<div class="mx-auto">
    <div class="card shadow">
        <div class="card-body">
            {{ include('registration/_edit_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
