<div class="container p-3 text-white">
  <div class="row">
      <div class="col">
      <h6 class="text-uppercase small">{% trans %}Une série de lien{% endtrans %}</h6>
      <ul class="list-unstyled small">
          <li><a href="" class="text-decoration-none text-info">{% trans %}Contact{% endtrans %}</a></li>
          <li><a href="" class="text-decoration-none text-info">{% trans %}Nous contacter{% endtrans %}</a></li>
          <li><a href="" class="text-decoration-none text-info">{% trans %}On recrute{% endtrans %}</a></li>
      </ul>
  </div>

  <div class="col">
      <h6 class="text-uppercase small">{% trans %}Une autre série de lien{% endtrans %}</h6>
      <ul class="list-unstyled small">
          <li><a href="" class="text-decoration-none text-info">{% trans %}Contact{% endtrans %}</a></li>
          <li><a href="" class="text-decoration-none text-info">{% trans %}Nous contacter{% endtrans %}</a></li>
          <li><a href="" class="text-decoration-none text-info">{% trans %}On recrute{% endtrans %}</a></li>
      </ul>
  </div>

  <div class="col">
      <h6 class="text-uppercase small">{% trans %}Encore une série de lien{% endtrans %}</h6>
      <ul class="list-unstyled small">
          <li><a href="" class="text-decoration-none text-info">{% trans %}Contact{% endtrans %}</a></li>
          <li><a href="" class="text-decoration-none text-info">{% trans %}Nous contacter{% endtrans %}</a></li>
          <li><a href="" class="text-decoration-none text-info">{% trans %}On recrute{% endtrans %}</a></li>
      </ul>
  </div>

  <div class="col">
      <h6 class="text-uppercase small">{% trans %}Une dernière série de lien{% endtrans %}</h6>
      <ul class="list-unstyled small">
          <li><a href="" class="text-decoration-none text-info">{% trans %}Contact{% endtrans %}</a></li>
          <li><a href="" class="text-decoration-none text-info">{% trans %}Nous contacter{% endtrans %}</a></li>
          <li><a href="" class="text-decoration-none text-info">{% trans %}On recrute{% endtrans %}</a></li>
      </ul>
  </div>
</div>
